{# app/Resources/views/registration/register.html.twig #}

{% extends 'bodybase.html.twig' %}

{% block title %}
    Post×Track - Registration
{% endblock %}

{% block pagetitle %}
    Registration
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">

            {{ form_start(form) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            <br/>
            <input class="btn btn-success" type="submit" name="submit" value="Register" /> &nbsp;
            <a href="/login" class="btn btn-default">Login</a>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

